
{{message}}
<form action="/" method="POST">
  <label>your email</label>
  <input type="email" name="email" placeholder="enter your email" />
  <br>
  <br>
  <label>your password</label>
  <input type="password" name="password" placeholder="password" />
  <br>
  <br>
  <input type="submit" data-submit-button>
</form>
<a href="/register">not registered yet? click here</a>
<br>


{{!-- <script src="/scripts/main.js"></script> --}}