{{message}}
<form action="/register" method="POST">
<label>name</label>
  <input type="text" name="name" placeholder="your name" />
  <br>
  <br>
  <label>your email</label>
  <input type="email" name="email" placeholder="enter your email" />
  <br>
  <br>
  <label>your password</label>
  <input type="password" name="password" placeholder="password" />
  <br>
  <br>
  <input type="submit" data-submit-button />
</form>
<a href="/">already registered? click here</a>
<br>


{{!-- <script src="/scripts/main.js"></script> --}}